In [58]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.metrics import r2_score
import mlflow
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import pickle

In [59]:
df = pd.read_csv("get_around_pricing_project.csv")
df.head()

,Unnamed: 0,model_key,mileage,engine_power,fuel,paint_color,car_type,private_parking_available,has_gps,has_air_conditioning,automatic_car,has_getaround_connect,has_speed_regulator,winter_tires,rental_price_per_day
0,0,Citroën,140411,100,diesel,black,convertible,True,True,False,False,True,True,True,106
1,1,Citroën,13929,317,petrol,grey,convertible,True,True,False,False,False,True,True,264
2,2,Citroën,183297,120,diesel,white,convertible,False,False,False,False,True,False,True,101
3,3,Citroën,128035,135,diesel,red,convertible,True,True,False,False,True,True,True,158
4,4,Citroën,97097,160,diesel,silver,convertible,True,True,False,False,False,True,True,183

In [60]:
df = df.drop(columns=['Unnamed: 0'], axis= 1)

In [61]:
df['car_type'].value_counts()

estate         1606
sedan          1168
suv            1058
hatchback       699
subcompact      117
coupe           104
convertible      47
van              44
Name: car_type, dtype: int64

In [62]:
df['car_type'].replace(['estate','sedan','suv','hatchback','subcompact','coupe','convertible','van'], [0, 1, 2,3,4,5,6,7], inplace= True)

In [63]:
df['paint_color'].replace(['black','grey','blue','white','brown','silver','red','beige','green','orange'], [0, 1, 2,3,4,5,6,7,8,9], inplace= True)

In [64]:
df['model_key'].replace(['Citroën','Renault','BMW','Peugeot','Audi','Nissan','Mitsubishi','Mercedes','Volkswagen','Toyota','SEAT','Subaru',
'Opel','Ferrari','PGO','Maserati','Suzuki','Porsche','Ford','KIA Motors','Alfa Romeo','Fiat','Lexus','Lamborghini','Mini','Mazda','Honda','Yamaha'],
 [0, 1,2,3 ,4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28], inplace= True)

In [65]:
df['fuel'].replace(['diesel','petrol','hybrid_petrol','electro'], [0, 1, 2,3], inplace= True)

In [66]:
df.private_parking_available = df.private_parking_available.replace({True: 1, False: 0})
df.has_gps = df.has_gps.replace({True: 1, False: 0})
df.automatic_car = df.automatic_car.replace({True: 1, False: 0})
df.has_getaround_connect = df.has_getaround_connect.replace({True: 1, False: 0})
df.has_speed_regulator = df.has_speed_regulator.replace({True: 1, False: 0})
df.winter_tires = df.winter_tires.replace({True: 1, False: 0})
df.has_air_conditioning = df.has_air_conditioning.replace({True: 1, False: 0})

In [67]:
X = df.drop('rental_price_per_day', axis= 1)
y = df[['rental_price_per_day']]

In [68]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=37)

In [69]:
from sklearn.ensemble import RandomForestRegressor

# Instanciate RandomForestRegressor
rf = RandomForestRegressor(random_state=0, min_samples_split=15)
rf.fit(X_train, y_train)

# Get score on test set
rf.score(X_test, y_test)

C:\Users\ZEMRANI\AppData\Local\Temp\ipykernel_10668\3354004113.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X_train, y_train)

0.7154926596915352

In [70]:
pickle.dump(rf, open('model.pkl', 'wb'))

In [71]:
df.columns

Index(['model_key', 'mileage', 'engine_power', 'fuel', 'paint_color',
       'car_type', 'private_parking_available', 'has_gps',
       'has_air_conditioning', 'automatic_car', 'has_getaround_connect',
       'has_speed_regulator', 'winter_tires', 'rental_price_per_day'],
      dtype='object')